/* src/App.css */
.PointsPage {
    text-align: center;
    background-color: #fff;
    color: #FF6000;
    padding: 1.25rem; /* 20px -> 1.25rem */
}

/* src/components/PaymentMethods.css */
.payment-methods {
    display: flex;
    justify-content: space-evenly;
    gap: 0.625rem; /* 10px -> 0.625rem */
    padding: 0.625rem; /* 10px -> 0.625rem */
}

.payment-methods-img {
    height: 10vh;
    cursor: pointer;
}

/* src/components/PurchaseOption.css */
.purchase-option {
    background: #1c1e21;
    padding: 0.625rem; /* 10px -> 0.625rem */
    border-radius: 0.625rem; /* 10px -> 0.625rem */
    margin: 0.625rem; /* 10px -> 0.625rem */
    text-align: center;
    color: white;
    width: 20rem;
}

.points-icon img {
    height: 3.125rem; /* 50px -> 3.125rem */
}

.purchase-option .points {
    font-size: 1.125rem; /* 18px -> 1.125rem */
    font-weight: bold;
}

.purchase-option .price {
    font-size: 1rem; /* 16px -> 1rem */
    margin: 0.625rem 0; /* 10px 0 -> 0.625rem 0 */
}

.buy-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 0.625rem; /* 10px -> 0.625rem */
    border-radius: 0.313rem; /* 5px -> 0.313rem */
    cursor: pointer;
    width: 100%;
}

.buy-button:hover {
    background-color: #ff2626;
}

/* src/components/PointsSelection.css */
.points-selection {
    padding: 1.25rem; /* 20px -> 1.25rem */
}

.points-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Contenedor del formulario */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaciado entre filas */
}

/* Estilo para los labels */
.custom-label {
    text-align: left; /* Alineación a la izquierda */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto */
    margin-bottom: 5px; /* Espaciado debajo del label */
}

/* Estilo para los inputs */
.custom-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 14px;
}

/* Estilo para el popup */
.custom-popup {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

/* Estilo para el título */
.custom-title {
    color: #4CAF50;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

/* Botón de confirmación */
.custom-confirm-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Botón de cancelar */
.custom-cancel-button {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

