/* src/App.css */
<<<<<<< HEAD
<<<<<<< HEAD
.App {
    text-align: center;
    background-color: #fff;
    color: #FF6000;
=======
.PointsPage {
    text-align: center;
    background-color: #fff;
    color: orange;
>>>>>>> parent of a21eaebb (Merge branch 'main' of https://github.com/james200327/Webcomic)
=======
.PointsPage {
    text-align: center;
    background-color: #fff;
    color: orange;
>>>>>>> 1c7a41697ae9ab51318e6bcf3efe2e2b8bcc96a7
    padding: 1.25rem; /* 20px -> 1.25rem */
}

/* src/components/PaymentMethods.css */
.payment-methods {
    display: flex;
    justify-content: space-evenly;
    gap: 0.625rem; /* 10px -> 0.625rem */
    padding: 0.625rem; /* 10px -> 0.625rem */
}

.payment-methods-img {
    height: 10vh;
    cursor: pointer;
}

<<<<<<< HEAD
<<<<<<< HEAD
/* src/components/PurchaseOption.css */
.purchase-option {
    background: #1c1e21;
    padding: 0.625rem; /* 10px -> 0.625rem */
    border-radius: 0.625rem; /* 10px -> 0.625rem */
    margin: 0.625rem; /* 10px -> 0.625rem */
    text-align: center;
    color: white;
    width: 20rem;
}

.points-icon img {
    height: 3.125rem; /* 50px -> 3.125rem */
}

.purchase-option .points {
    font-size: 1.125rem; /* 18px -> 1.125rem */
    font-weight: bold;
}

.purchase-option .price {
    font-size: 1rem; /* 16px -> 1rem */
    margin: 0.625rem 0; /* 10px 0 -> 0.625rem 0 */
}

.buy-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 0.625rem; /* 10px -> 0.625rem */
    border-radius: 0.313rem; /* 5px -> 0.313rem */
    cursor: pointer;
    width: 100%;
}

.buy-button:hover {
    background-color: #ff2626;
}
=======
.points-options{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos pasen a una nueva fila si no hay espacio suficiente */
    gap: 1rem; /* Espacio entre los elementos */
    justify-content: space-between;
}

>>>>>>> parent of a21eaebb (Merge branch 'main' of https://github.com/james200327/Webcomic)
=======
.points-options{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos pasen a una nueva fila si no hay espacio suficiente */
    gap: 1rem; /* Espacio entre los elementos */
    justify-content: space-between;
}

>>>>>>> 1c7a41697ae9ab51318e6bcf3efe2e2b8bcc96a7

/* src/components/PointsSelection.css */
.points-selection {
    padding: 1.25rem; /* 20px -> 1.25rem */
}

.points-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 1c7a41697ae9ab51318e6bcf3efe2e2b8bcc96a7



/* Pantallas medianas: 2 elementos por fila */
@media (max-width: 768px) {
    .purchase-option {
        flex-basis: 45%; /* Cada elemento ocupa inicialmente el 45% del ancho del contenedor */
        max-width: 45%; /* Aseguramos que no crezca más del 45% */
    }
}

/* Pantallas pequeñas: 1 elemento por fila */
@media (max-width: 480px) {
    .purchase-option {
        flex-basis: 100%; /* Cada elemento ocupa inicialmente el 100% del ancho */
        max-width: 100%;
    }
}
<<<<<<< HEAD
>>>>>>> parent of a21eaebb (Merge branch 'main' of https://github.com/james200327/Webcomic)
=======
>>>>>>> 1c7a41697ae9ab51318e6bcf3efe2e2b8bcc96a7
