/* 
COLOR PRINCIPAL
rgb(255, 115, 0) */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

header{
    background-color: rgb(255, 115, 0);
    margin: 0;
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
}

header 
.logo{
    width: 10%; 
    background-color: white;
    
    padding: 1%;
    margin-right: 40%;
}

#botonBuscar, #botonCuenta, #botonCarrito{
    width: 3%;
    margin-right: 4%;
    
    
}

#barraBuscar{
    width: 15%;
    position: absolute;
    left: 45%;
    padding: 1%;
    
    
}
img{
    width: 100%;
    
}